:host ::ng-deep .custom-image img {
    display: block;
}

:host ::ng-deep .custom-card {
    padding: 10px 16px;
}

:host ::ng-deep .custom-card p {
    color: #999;
}

:host ::ng-deep .ant-card-body {
    padding: 0;
    cursor: pointer;
}
.card {
    width: 300px;
    display: inline-block; 
    text-align: center;
    overflow: hidden;
    transition: all .3s ease;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 20px;
    box-sizing: border-box;
}
.card h3 {
    font-size: 18px;
}

@media screen and (max-width: 1299px){
    .post-list-item {
        width: calc(33.333% - 30px);
        width: -webkit-calc(33.333% - 30px);
    }
}
@media screen and (max-width: 1000px){
    .card {
        width: calc(50% - 30px);
        width: -webkit-calc(50% - 30px);
    }
}
@media screen and (max-width: 760px) {
    .card {
        width: calc(80% - 30px);
        width: -webkit-calc(50% - 30px);
    }
}
@media screen and (max-width: 450px) {
    .card {
        width: 290px !important;
    }
}
@media screen and (max-width: 400px) {
    .card {
        width: 240px !important;
    }
}