<nz-card class="card"
 routerLink="/setupWebSiteByNg" routerLinkActive="active">
  <ng-template #body>
    <div class="custom-image">
      <img alt="angularJS2" width="100%" src="http://huanfeng-bucket.oss-cn-beijing.aliyuncs.com/img/ng2.jpg?Expires=1505751292&OSSAccessKeyId=TMP.AQGjoz2XwQ8-uXSaPyo2aT4MNGQdKNTnBxD4BvzIxmcMRqxJ5Qp2JPDht-aIAAAwLAIUCZvkit_58SrIPhL5AZdMFaohE6sCFEvEwFSjaglPYojrHsaVgy-BEyIb&Signature=tNVm42SXRooC%2BIpc35YivHZcnHM%3D"/>
    </div>
    <div class="custom-card">
      <h3>阿里云服务器布置angular2网站</h3>
      
    </div>
  </ng-template>
</nz-card>
