
/* :host ::ng-deep .ant-layout-sider-collapsed .nav-text {
    display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
    display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
    font-size: 16px;
    margin-left: 8px;
} */
:host ::ng-deep .anticon {
    font-size: 20px;
    
}
.nav-text {
    font-size: 18px;
}
:host ::ng-deep .nav li {
    outline: none;
}
:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 16px;
    cursor: pointer;
    transition: color .3s;
    color: white;
}
:host ::ng-deep .trigger.anticon-menu-fold {
    position: absolute;
    top: 0;
    left: 100%;
}

.trans-padding-left {
    -webkit-transition: padding-left .7s ease-in-out;
    transition: padding-left .7s ease-in-out;
}

#menu {
    position: fixed;
    width: 240px;
    top: 0;
    bottom: 0;
    left: 0;
    min-height: 100%;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 100;
    -webkit-transition: .4s cubic-bezier(.18, .81, .3, .89);
    transition: .4s cubic-bezier(.18, .81, .3, .89);
}
.flex-menu {
    position: relative;
    height: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
}
#menu-header-bg {
    background: url(../assets/header-background.jpg);
    /* background: url(http://huanfeng-bucket.oss-cn-beijing.aliyuncs.com/img/header-background.jpg?Expires=1505751014&OSSAccessKeyId=TMP.AQGjoz2XwQ8-uXSaPyo2aT4MNGQdKNTnBxD4BvzIxmcMRqxJ5Qp2JPDht-aIAAAwLAIUCZvkit_58SrIPhL5AZdMFaohE6sCFEvEwFSjaglPYojrHsaVgy-BEyIb&Signature=b3ZcjlWU90I1TkHoeE3FP3%2FdBvs%3D);     */
    background-position: top right;
    background-size: 100%;
    height: 240px;
}
#menu-header-logo {
    /* background: url(../assets/header-logo.jpg);
    background-size: 30%;
    background-repeat: no-repeat; */
    width: 70px;
    height: 70px;
    position: absolute;
    top: 205px;
    right: 0;
    z-index: 2;
}
#menu-header-name {
    position: absolute;
    top: 210px;
    right: 75px;
    font-size: 17px;
    color: white;
}
#menu .flex-col {
    position: relative;
    
}
.flex-col {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
#menu .nav {
    margin: 0;
    padding-top: 40px;
    
    min-height: calc(100% - 115px);
    list-style: none;
    line-height: 48px;
    font-size: 20px;
    border: none;
}
#menu .nav li:hover, .link-active {
    background: rgba(0,0,0,0.05);
}
#menu.hide{
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
#main {
    display: block;
    padding-left: 240px;
    position: relative;
    min-height: 100%;
}
#main.hide {
    padding-left: 0;
}

#top-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    height: 56px;
    background: #0f9d58;
    z-index: 60;
}
.header-title {
    visibility: hidden;
    font-weight: 400;
    line-height: 56px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
    padding-left: 190px;
    margin-right: 50px;
}
.hide .header-title {
    padding-left: 0 !important;
    
}
#top-header.scrollTop {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.scrollTop .header-title{
    visibility: visible;
}
#info-header {
    min-height: 200px;
    margin-left: -240px; 
    padding: 104px 16px 47px 256px;
    color: #fff;
    background: #0f9d58;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);
}
.hide #info-header {
    text-align: center;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

#info-header .container h1, #info-header .container h5 {
    font-weight: 300;
    color: #fff;
}
#info-header .container h1 {
    font-size: 40px;
}
#info-header .container h5 {
    font-size: 16px;
}
.body-wrap {
    min-height: calc(100% - 280px);
    padding: 10px;
    text-align: center;
}
:host ::ng-deep #main nz-back-top .ant-back-top {
    right: 50px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
:host ::ng-deep #main.hide nz-back-top .ant-back-top {
    right: 100px;
}
footer {
    /* background: #0c7e46; */
    /* position: fixed;
    bottom: 0; */
    width: 100%;
}
footer .bottom {
    padding: 10px;
    /* color: #93ce95; */
}
footer.collapsed-padding {
    padding-left: 240px;
}

footer p {
    margin: 0;
    line-height: 1.6;
    font-size: 13px;
    text-align: center;
}
.ipc-number a {
    /* color: #C8E6C9; */
    background-color: transparent;
    background-image: none;
    text-decoration: none;
    outline: 0;
}
#box-shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: auto;
    opacity: .3;
    background: #000;
    z-index: 99;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

@media screen and (max-width:1000px) {
    #menu.media-show {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #menu {
        transform: translate(-120%);
    }
    #main {
        padding-left: 0;
    }
    #info-header {
        margin: 0;
        padding-left: 20px;
    }
    footer.collapsed-padding{
        padding-left: 0;
    }
    .header-title {
        padding-left: 0;
    }
}
@media screen and (min-width:1001px) {
    #box-shadow {
        display: none;
    }
    
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    height: 8px;
}
@media screen and (max-width: 760px){
    ::-webkit-scrollbar {
        display: none;
    }
    #info-header .container h1 {
        font-size: 20px;
    }
    #info-header .container h5 {
        font-size: 18px;
    }
    :host ::ng-deep #main nz-back-top .ant-back-top {
        right: 50px !important;
    }
}