
  <aside id="menu" [class.hide]="isCollapsed" [class.media-show]="isMediaShow">
    <div class="flex-menu">
      <i class="anticon trigger anticon-menu-fold" 
       (click)="changeCollapsed()"
       *ngIf="!isCollapsed">
      </i>
      <div id="menu-header-bg">
      </div>
      <span id="menu-header-name">周焕丰</span>
      <img id="menu-header-logo" src="../assets/header-logo.jpg"/>
      <div class="flex-col">
        <ul nz-menu class="nav" >
          <li nz-menu-item>
            <span><i class="anticon anticon-file-text"></i>
              <span class="nav-text">文章</span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <nz-layout style="min-height:95%; background: #fff">
  <main id="main" [class.hide]="isCollapsed" class="trans-padding-left">
    <header id="top-header" [class.scrollTop]="isScrollTop">
      <div class="flex-row">
        <i class="anticon trigger anticon-menu-unfold" 
        (click)="changeCollapsed()"
        *ngIf="isCollapsed || !isMediaShow">
        </i>
      
        <div class="flex-col header-title ellipsis trans-padding-left">{{headerTitle}}</div>
      </div>
    </header>
    <header id="info-header" class="trans-padding-left">
      <div class="container" [style.visibility]="isPaperPage ? 'hidden' : 'visible'">
        <h1 #scrollInfo>周焕丰</h1>
        <h5> a web developer </h5>
      </div>
    </header>
    <div class="container body-wrap">
      <router-outlet></router-outlet>
    </div>
  
  </main>
  </nz-layout>
<footer [class.collapsed-padding]="!isCollapsed" class="trans-padding-left">
  <div class="bottom" *ngIf="!isMediaShow">
    <p>
      <span class="copyright">周焕丰 © 2017- &nbsp;</span>
      <span class="ipc-number">
        <a href="http://www.miitbeian.gov.cn/">粤ICP备17114499号
        </a>
      </span>
    </p>
  </div>
</footer>
<div id="box-shadow" *ngIf="isMediaShow" (click)="hideShadow()">
</div>