/* You can add global styles to this file, and also import other style files */
.ant-layout-sider-trigger {
    display: none;
}
/* .ant-layout-sider-zero-width-trigger {
    display: none;
} */
html, body {
    position: relative;
    min-height: 100%;
    height: 100%;
}
