<header id="fade-header">
  <h1 id="h1">{{paperTitle}}</h1>
</header>
<nz-card class="paper-card">
  <ng-template #title class="card-content">
    <h2>阿里云服务器布置angular2网站</h2>
    <div class="paper-info">
      <div class="paper-info-items">
        <i class="anticon anticon-user"></i>
        <span>周焕丰</span>
      </div>
      <div class="paper-info-items">
        <i class="anticon anticon-clock-circle-o"></i>
        <span>2017-09-18</span>
      </div>
      <div class="paper-info-items tags">
        <i class="anticon anticon-tags"></i>
        <span>阿里云，express，angular2，nginx</span>
      </div>
    </div>
  </ng-template>
  <ng-template #body class="card-content">
    
  </ng-template>
</nz-card>
