<nz-card class="msg-card">
  <ng-template #body>
    <div>
      <nz-input [nzType]="'text'" style="padding-left:5px" [nzDisabled]="true"
      [(ngModel)]="myName">
        <ng-template #addOnBefore>收件人：</ng-template>
      </nz-input>
    </div>
    <div id="name">
      <nz-input [nzType]="'text'"
      [(ngModel)]="inputName" style="padding-left:5px" nzPlaceHolder="尊姓大名">
        <ng-template #addOnBefore>发件人：</ng-template>
      </nz-input>
    </div>
    <div id="msg">
      <textarea rows="6" placeholder="给点建议吧..." [(ngModel)]="inputMsg"
      maxlength="500">
      </textarea>
      <p style="text-align: right"> {{inputMsg.length}} &nbsp;/&nbsp;500 </p>
    </div>
    <div class="bottom">
      <label nz-checkbox [(ngModel)]="anonymous">
      <span>匿名</span>
    </label>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" id="submit-btn"
      (click)="leaveMsg()" [disabled]="!inputMsg || (!anonymous && !inputName)">
        <span>发送</span>
      </button>
    </div>
  </ng-template>
</nz-card>