:host ::ng-deep .ant-card-body {
    padding: 0;
}
.card {
    width: 300px;
    display: inline-block; 
    text-align: center;
    overflow: hidden;
    transition: all .3s ease;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    box-sizing: border-box;
}
.card .custom-card {
    overflow-x: auto;
}
.card .custom-card ul {
    text-align: left;
}
.card .custom-card ul li {
    border-left: 3px solid #0f9d58;
    padding: 10px;
}
@media screen and (max-width: 1299px){
    
}
@media screen and (max-width: 1000px){
    .card {
        width: calc(50% - 30px);
        width: -webkit-calc(50% - 30px);
    }
}
@media screen and (max-width: 760px) {
    .card {
        width: calc(80% - 30px);
        width: -webkit-calc(50% - 30px);
    }
    
}
@media screen and (max-width: 450px) {
    .card {
        width: 290px !important;
    }
}
@media screen and (max-width: 400px) {
    .card {
        width: 240px !important;
    }
}
