<nz-card class="card">
  <ng-template #body>
    <div class="custom-image">
      <img alt="example" width="100%" src="../../assets/header-logo.jpg"/>
    </div>
    <div class="custom-card">
      <ul>
        <li><i class="anticon anticon-tag"></i><span>&nbsp;双鸭山大学</span></li>
        <li><i class="anticon anticon-tag"></i><span>&nbsp;前端小白，熟悉angular2</span></li>
        <li><i class="anticon anticon-tag"></i><span>&nbsp;热爱篮球，偶像Iverson</span></li>
      </ul>
    </div>
  </ng-template>
</nz-card>